.panelCommunityContainers {
    padding: 10px;
    display: flex; 
    flex-wrap: wrap;
}
.panelCommunityContainer {
    background-color: transparent;
    transform: scale(0.95);
    min-width: 350px; 
    padding: 20px; 
    padding-top: 5px;
    border-radius: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.15); 
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.15);
    transition: transform 0.25s ease-out;
}
.panelCommunityContainer:hover {
    transform: scale(1.02);
}

.panelCommunityContainer label {
    padding-left: 10px;
}
.panelCommunityContainer input[type=text] {
    width: 100%;
    margin-top: 3px;
    border-radius: 5px;
}

.panelCommunityForm {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.panelCommunityContentForm {
    flex: 1;
}

.panelCommunityAction {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    margin-top: auto;
}

.hidden {
    display: none;
}